#container {
  width: 200px;
  text-align: center;
}

#selectSubject {
  padding: 10px;
  background-color: aquamarine;
  cursor: pointer;
}

.subject {
  padding: 8px 5px ;
  width: 170px;
  background-color: antiquewhite;
  cursor: pointer;
  margin-bottom: 3px;
}

.hidden {
  display: none;
}